@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Poynter Regular';
  src: url(assets/fonts/PoynterTextRegular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poynter Regular', sans-serif;
  background-color: #f0ebdf;
  background-image: url('./assets/images/background.png');
}

.image {
  filter: grayscale(1);
}

.progress-bar {
  background-color: black;
  color: white;
}

.progress {
  border-radius: 0;
}

.btn {
}
