@font-face {
  font-family: 'Poynter Regular';
  src: url(assets/fonts/PoynterTextRegular.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poynter Regular', sans-serif;
}
