.singleRow {
  display: flex;
  justify-content: space-between;
}
.crosswordComponent {
  display: flex;
}
.crosswordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.crosswordIndex {
  padding-right: 8px;
}
.scoreContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  padding: 2rem;
}
.header {
  margin-bottom: 2rem;
}
