.Authors-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Authors-caption {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Authors-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.header {
  text-align: center;
}
